.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 30px;
  margin-bottom: 1px solid black;
  box-shadow: 3px 2px 11px 0 black;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
}

.headerButton {
  background-color: var(--background-primary);
  color: var(--primary);
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  transition: background-color ease 200ms;
}
.headerButton:hover {
  background-color: var(--background-secondary);
}

.headerButtonSelected {
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  transition: background-color ease 200ms;
  background-color: var(--background-secondary);
  color: var(--secondary);
}

.headerButton:hover {
  background-color: var(--background-tertiary);
}

.navigation {
  display: flex;
  gap: 15px;
}

.themeButton {
  padding: 10px;
  margin-right: 20px;
  background: none;
  cursor: pointer;
  border: none;
}
